extends ../layout

block content
  .review_page
    .review_container

      .review_headerline
        a.review_headerline_title(href='/reviews/'+review.id) #{review.title}

      .review_metadata
        p Author: #{review.author.username}
        p Created: #{review.dateCreated}
        p Status: #{review.status}

      .review_body #{review.body}



    .review_comments_container
      each comment in review.comments
        .review_comment
          .review_comment_headerline
            a.review_comment_headerline_name(href='/users/'+comment.author.username) #{comment.author.username}
            span.review_comment_headerline_time  at #{comment.date}
          .review_comment_body #{comment.body}


    .review_new_comment_container
      form(method='POST' action='/reviews/'+review.id+'/comments')
        div.form-group
          label(for='comment_body') Comment:
          textarea(rows=5 name='comment_body').form-control
        
        button.btn.btn-primary(type='submit') Post

